@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

/* ================================================================================================================================== */
                                               /* ================= TNG Media Queries ==================== */
/* ================================================================================================================================== */
#mheader {margin-top: -8px; padding: 0;}
.mmaintitle {font-family: 'Cormorant Garamond' Arial, Helvetica, sans-serif; font-size: 28pt; text-shadow: 0.6px 0.6px #000; color: #1f2159;}
body {background-color: #fff;}
#mast {background: #14153a linear-gradient(#14153a, #2a2d7a); border-top: 1px solid #1f2159;}
.mhead ul li {color: #ffffff;}
.mhead li a {background-color: #1f2159!important; border-bottom: 1px solid #aaaaaa; border-top: 1px solid #dddddd; color: #fff;}
.mhead li a:hover {background-color: #383ca2!important; border-bottom: 1px solid #aaaaaa; border-top: 1px solid #dddddd; color: #fff;}
.mtitlehr {color: #fff; background-color: #1f2159;}

/* ======== Mobile Footer======== */
.mobilefooter {background: #14153a!important; padding: 0 0 4px 0; color: #fff;text-align:center; font-size: 90%; margin-top: -12px;}
.mobilefooter a {color: #e5e7fd!important; font-weight: normal; text-decoration: none; outline: none;}
.mobilefooter a:hover {color: #fff!important; text-decoration: none; font-weight: normal; outline: none;}