body {
  background-color: #E2E5ee;
  background-image: none;
}

#mast {
  background-color: #6b50af;
  background-image: -webkit-linear-gradient(to bottom, #6b50af 0%, #6b50af 100%);
  background-image: linear-gradient(to bottom, #6b50af 0%, #6b50af 100%);
  border-top: 1px solid #CA81BE;
}

.mhead ul li {
  color: #FFFFFF;
}

.mhead li a {
  background-color: #dddddd;
  border-bottom: 1px solid #666666;
  border-top: 1px solid #EEFAEC;
  text-shadow: white 1px 1px 1px;
  color: #000000;
}

.mmaintitle {
  opacity: 1.0;
}

.mhead li a:hover {
  background-color: #bea6f9; 
  text-decoration:none;
}