[Desktop Entry]
Name=Rider
Icon=rider
StartupWMClass=jetbrains-rider
Comment=A cross-platform .NET IDE
Exec="/home/erik/.local/share/JetBrains/Toolbox/apps/Rider/ch-0/231.8109.212/bin/rider.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true
