[Desktop Entry]
Name=JetBrains Toolbox
Exec=/home/erik/.local/share/JetBrains/Toolbox/bin/jetbrains-toolbox %u
Icon=jetbrains-toolbox
Version=1.0
Type=Application
StartupWMClass=jetbrains-toolbox
Terminal=false
MimeType=x-scheme-handler/jetbrains;
X-GNOME-Autostart-enabled=true
StartupNotify=false
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
X-KDE-autostart-after=panel
Categories=Development
